.Header {
    font-size: 20px;
    font-weight: 900;

    margin-bottom: 5px;

    color: #2f3038;
}

.Modal {
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    letter-spacing: normal;

    color: #2f3038;

    > div > div > div {
        > hr {
            margin: 30px 0;
        }
        > .HrForSessions {
            margin-top: 20px;
        }
    }
    div {
        max-width: 750px;
    }
}

.Card {
    width: 100%;
}

.Image {
    widows: 100%;
}

.EventCampName {
    font-size: 23px;
}

.Organizer {
    font-size: 13px;
    font-weight: 900;

    letter-spacing: .54px;

    color: #848699;
}

.Star {
    color: white;
}

.Test1 {
    display: flex;
    justify-content: space-between;

    padding: 0 15px;
}

.Tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 7px;

    .Tag {
        font-size: 14px;
        font-weight: 500;

        display: flex;
        align-items: center;

        height: 25px;
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 3px 10px;

        color: #fff;
        border-radius: 3px;
        background-color: #3e73ec;

        :last-child {
            margin-right: 0;
        }
    }
}

.Location {
    margin-bottom: 20px;
}

.BtnFree {
    font-size: 15px;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 30px;

    color: #fff;
    border: solid 1px #ff5a5f;
    border-radius: 5px;
    background-color: #ff5a5f;
}

.BtnAge {
    font-size: 15px;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 30px;

    color: #848699;
    border: solid 1px #efeff5;
    border-radius: 5px;
    background-color: #fff;
}

.DaysOfWeek {
    font-size: 15px;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 47px;
    height: 49px;

    color: #2f3038;
    border: solid 1px #efeff5;
    border-radius: 5px;
    background-color: #fff;

    &.NotWork {
        color: #efeff5;
    }
}

.Contacts {
    display: flex  ;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    max-width: 210px;

    .Contact1 {
        font-size: 16px;
        font-weight: 500;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 210px;
        height: 40px;

        color: #3e73ec;
        border: solid 1px #efeff5;
        border-radius: 5px;
        > a {
            cursor: pointer;

            color: #3e73ec;
        }
    }
}

.OpenToday {
    font-family: Avenir;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    letter-spacing: normal;

    color: #848699;
}


.SessionHeader {
    font-size: 15px;
    font-weight: 900;

    color: #2f3038;
}

.MapName {
    font-size: 16px;
    font-weight: 900;

    margin-top: 15px;

    color: #2f3038;
}
.MapAddress {
    font-size: 15px;
    font-weight: 500;

    margin-bottom: 20px;

    color: #848699;
}
.MapMain {
    max-height: 250px;
}
.MapViewDetails {
    height: 250px;
    margin-bottom: 30px;

    border-radius: 10px;
}

.ReviewLogo {
    width: 50px;
    height: 50px;
    margin-left: 10px;

    border: solid 1px #efeff5;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 10px 10px 5px rgba(47, 48, 56, .05);
}
.ReviewEmail {
    font-size: 14px;
    font-weight: 900;

    color: #2f3038;
}
.ReviewTest {
    font-size: 12px;
    font-weight: 500;

    color: #848699;
}
.ReviewDate {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.75;

    color: #848699;
}
.ReviewText {
    font-family: Avenir-Roman;
    font-size: 15px;
    line-height: 1.4;

    color: #2f3038;
}

.ReviewClicableText {
    color: #3e73ec;
    cursor: pointer;
    font-size: 15px;
}

.DisclaimerText {
    font-family: Avenir-Roman;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;

    color: #2f3038;
}

.LikeButton {
    width: 30px;
    height: 30px;
}

.WrapperFavClose {
    position: absolute;
    top: 15px;
    right: 11px;

    display: flex;

    > :last-child {
        margin-left: 10px;
    }

    .CloseModal {
        width: 30px;
        height: 30px;

        cursor: pointer;

        > img {
            width: 100%;
        }
    }
}


.WrapperDetailMobileNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px 18px;

    .Back {
        flex: 1;

        cursor: pointer;

        img {
            transform: rotate(180deg);
        }
    }

    img {
        width: 30px;
    }
    :last-child {
        margin-left: 15px;
    }
}
.WebInfo {
    cursor: pointer;
}

.Toast {
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    position: absolute;
    right: 3%;
    bottom: -44%;

    letter-spacing: normal;
}

.ShortLinkMessage {
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    position: absolute;
    right: 3%;
    bottom: -90%;

    width: 100%;

    letter-spacing: normal;
}
.ShortLinkMessageForMobile {
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    position: absolute;
    right: 100%;

    width: 100%;

    letter-spacing: normal;
}

.BannerText {
    font-family: Avenir;
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    letter-spacing: normal;

    color: #ff5a5f;
}

.WrapperEmailUs {
    display: flex;
    justify-content: flex-end;

    .EmailUs {
        font-family: Avenir;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        // padding: 10px;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 120px;
        max-width: 120px;
        height: 40px;

        cursor: pointer;
        transition: background-color .1s linear;
        text-align: center;
        letter-spacing: normal;

        color: white;
        border: 1px groove #3e73ec;
        border-radius: 30px;
        background-color: #3e73ec;
    }
    :active {
        transition: background-color .1s linear;

        color: #2f3038;
        background-color: white;
    }
    :focus {
        border-style: none;
    }
}

.ToastEmailUs {
    font-family: Avenir;
    font-size: 15px;

    position: absolute;
    top: 100%;
    left: -50%;

    color: #2f3038;
}

.BlueText {
    position: relative;

    cursor: pointer;

    color: #3e73ec;
}

.Rating {
    span > span {
        img {
            width: 32px;
        }
    }
}

@media (min-width: 768px) {
    .WrapperDetailMobileNavigation {
        display: none;
    }
}

@media (max-width: 767px) {
    .ShareButtonMedia {
        display: none;
    }
}

@media (max-width: 576px) {
    .BannerText {
        text-align: center;
    }
}
