.AgeText {
    font-size: 9px;

    margin-bottom: 3px;

    color: #848699;
}

.WrapperDate {
    z-index: 50;

    background-color: #fff;
}

.Bacground {
    position: fixed;
    z-index: 49;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0);
}
