// Styling for the download section
section.contact {
    text-align: center;
    padding: 150px 0 250px;
    h2 {
        margin-top: 0;
        margin-bottom: 25px;
    }
    ul.list-social {
        margin-bottom: 0;
        li {
            a {
                font-size: 40px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: white;
                border-radius: 100%;
                box-shadow: 0px 10px 25px 0px rgba(171, 203, 234, 0.25);
                margin: 0 20px;
                @media (max-width: 768px) {
                    margin: 0 10px;
                }
            }
            &.social-email {
                a {
                    background: $theme-primary url('../assets/img/icons/message-closed-envelope.png') center center no-repeat;
                    &:hover {
                        background-color: darken($theme-primary, 15%);
                    }
                }
            }
            &.social-facebook {
                a {
                    background: $theme-primary url('../assets/img/icons/facebook-logo.png') center center no-repeat;
                    &:hover {
                        background-color: darken($theme-primary, 15%);
                    }
                }
            }
            &.social-instagram {
                a {
                    background: $theme-primary url('../assets/img/icons/instagram-logo.png') center center no-repeat;
                    &:hover {
                        background-color: darken($theme-primary, 15%);
                    }
                }
            }
        }
    }
}
