@font-face {
    font-family: "GothamRounded Book";
    src: url("../assets/Fonts/Gotham Rounded/GothamRnd-Book.otf") format("opentype");
}

@font-face {
    font-family: "GothamRounded Medium";
    src: url("../assets/Fonts/Gotham Rounded/GothamRnd-Medium.otf") format("opentype");
}

@font-face {
    font-family: "GothamRounded Bold";
    font-weight: bold;
    src: url("../assets/Fonts/Gotham Rounded/GothamRnd-Bold.otf") format("opentype");
}

@font-face {
    font-family: "FuturaStd";
    font-weight: bold;
    src: url("../assets/Fonts/Futura/Futura-Bold.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Caveat:700');